<main>
    <div>
        <h5>Events</h5>
        <div class="row g-4">
            <div class="col-12">
                <section>
                    <div class="row">
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Event Title 1</h6>
                                    <p>Event description 1.</p>
                                    <p>Date: 2024-03-15</p>
                                    <p>Organizer: Іван Петренко</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Event Title 2</h6>
                                    <p>Event description 2.</p>
                                    <p>Date: 2024-03-20</p>
                                    <p>Organizer: Марія Іванова</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 3</h6>
                                    <p>Опис події 3.</p>
                                    <p>Дата: 2024-03-25</p>
                                    <p>Організатор: Петро Сидоров</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 4</h6>
                                    <p>Опис події 4.</p>
                                    <p>Дата: 2024-03-30</p>
                                    <p>Організатор: Ганна Коваленко</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 5</h6>
                                    <p>Опис події 5.</p>
                                    <p>Дата: 2024-04-05</p>
                                    <p>Організатор: Юлія Бондаренко</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 6</h6>
                                    <p>Опис події 6.</p>
                                    <p>Дата: 2024-04-10</p>
                                    <p>Організатор: Андрій Мельник</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 7</h6>
                                    <p>Опис події 7.</p>
                                    <p>Дата: 2024-04-15</p>
                                    <p>Організатор: Тетяна Кравченко</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Назва події 8</h6>
                                    <p>Опис події 8.</p>
                                    <p>Дата: 2024-04-20</p>
                                    <p>Організатор: Сергій Павленко</p>
                                    <a href="register" class="btn btn-link">Реєстрація</a>
                                    <a href="view" class="btn btn-link">Перегляд</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Попередня</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Наступна</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </div>
</main>