<main>
    <div>


        <h5>Events</h5>
        <div class="card ">

            <div class="row">
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <div class="row">
                            <a href="register" class="btn btn-link">Register</a>
                            <a href="view" class="btn btn-link">View</a>
                        </div>

                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <div class="row">
                            <a href="register" class="btn btn-link">Register</a>
                            <a href="view" class="btn btn-link">View</a>

                        </div>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>

                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <a href="register" class="btn btn-link">Register</a>
                        <a href="view" class="btn btn-link">View</a>
                    </div>
                </div>
                <div class="card col-3">
                    <div class="card-body">
                        <h6>Title</h6>
                        <p>description</p>
                        <div class="row">
                            <a href="register" class="btn btn-link">Register</a>
                            <a href="view" class="btn btn-link">View</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>