<main>
    <div>
        <h5>Events</h5>
        <div class="row g-4">
            <div class="card ">
                <div class="card-body">

                    <section class="col-12">
                        <div class="row ">
                            <div class="card col-3 mb-5 mr-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <div class="nav-item">
                                        <a href="register" class="btn btn-link">Register</a>
                                        <a href="view" class="btn btn-link">View</a>

                                    </div>
                                </div>
                            </div>
                            <div class="card col-3 mb-5 mr-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <div class="row">
                                        <a href="register" class="btn btn-link">Register</a>
                                        <a href="view" class="btn btn-link">View</a>

                                    </div>
                                </div>
                            </div>
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3 mb-5">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card col-3">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>

                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <a href="register" class="btn btn-link">Register</a>
                                    <a href="view" class="btn btn-link">View</a>
                                </div>
                            </div>
                            <div class="card col-3">
                                <div class="card-body">
                                    <h6>Title</h6>
                                    <p>description</p>
                                    <div class="row">
                                        <a href="register" class="btn btn-link">Register</a>
                                        <a href="view" class="btn btn-link">View</a>

                                    </div>
                                </div>
                            </div>

                    </section>
                </div>

            </div>
        </div>
    </div>
    </div>
</main>