<main class="p-5">
    <div class="">
        <div class="mb-5">
            <h5>Event Registretion</h5>
            <div>
                <label class="form-label">Full name</label>
                <br>
                <input class="form-control-sm">
                <div class="form-text text-danger">Error. You need to set correct full name</div>
            </div>
        </div>
        <div class="mb-5">
            <div class="row">
                <div>
                    <label class="form-label">Email</label>
                    <br>
                    <input class="form-control-sm">
                    <div class="form-text text-danger">Error. You need to set correct email</div>

                </div>
            </div>
        </div>
        <div class="mb-5">
            <div>
                <label class="form-label">Date of birth</label>
                <br>
                <input class="form-control-sm">
                <div class="form-text text-danger">Error. You need to set correct date of birth</div>
            </div>
        </div>
        <div class="mb-5">
            <div>
                <label class="form-label">Where did you hear about this event?</label>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="socialMedia" name="hearAboutEvent">
                        <label class="form-check-label" for="socialMedia">Social media</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="friends" name="hearAboutEvent">
                        <label class="form-check-label" for="friends">Friends</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="foundMyself" name="hearAboutEvent">
                        <label class="form-check-label" for="foundMyself">Found myself</label>
                    </div>
                </div>

            </div>
            <a href="view" class="btn btn-link">Go to "Awesome Event" participants page</a>

            <a href="bootstrap" class="btn btn-link">Back to bootstrap page</a>

        </div>
    </div>
</main>