<main>
    <div>
        <h5>"Чудова подія" учасники</h5>
        <div class="row g-4">
            <div class="col-12">
                <section>
                    <div class="row">
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Іван Петренко</h6>
                                    <p>ivan.petrenko@mail.com</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Марія Іванова</h6>
                                    <p>maria.ivanova@mail.com</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Олександр Сидоров</h6>
                                    <p>oleksandr.sydorov@mail.com</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Ганна Коваленко</h6>
                                    <p>hanna.kovalenko@mail.com</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Петро Шевченко</h6>
                                    <p>petro.shevchenko@mail.com</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Юлія Бондаренко</h6>
                                    <p>yulia.bondarenko@mail.com</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Андрій Мельник</h6>
                                    <p>andriy.melnyk@mail.com</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>